<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a200-0000">

  <!-- Arms -->

  <!-- arm_0 -->
  <xacro:include filename="$(find clearpath_manipulators_description)/srdf/arm/universal_robots.srdf.xacro"/>
  <xacro:universal_robots name="arm_0"/>



  <!-- Grippers -->


</robot>
